.container {
  font-family: 'DM Sans', sans-serif;
  text-align: center;
  width: 1300px;
  margin: auto;
}

.row,
.details-container {
  display: flex;
  padding: 5px;
}

.column-one-fifth {
  width: 20%;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: bold;
  padding: 10px;
}

.img-container {
  height: 350px;
  display: flex;
  align-items: stretch;
}

.column-one-fifth .size {
  color: #d3d3d3;
  padding-left: 5px;
  display: flex;
}

.column-one-fifth .sale-price {
  background-color: #fdf2e8;
  border-radius: 2px;
}

.column-one-fifth .retail-price {
  color: #d3d3d3;
  padding-left: 5px;
  text-decoration: line-through;
}

.images {
  width: 100%;
}
