.container {
  font-family: Arial, Helvetica, sans-serif;
  width: 1005px;
  padding: 170px;
}

.row {
  display: flex;
  justify-content: center;
}

.row2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.superSmash {
  width: 25%;
}

.row3 {
  display: flex;
  justify-content: center;
}

.row4 {
  display: flex;
  justify-content: center;
}
