body {
  margin: 0;
  font-family: Karla, sans-serif;
  color: #595959;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  height: 50px;
  color: #0e0e0e;
  font-size: 42px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
}

.sub-heading {
  font-size: 14px;
  font-weight: 600;
}

.header-caption,
.caption {
  font-size: 12px;
  line-height: 21px;
}

.header-caption {
  text-align: center;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
}

.columns {
  display: flex;
  max-width: 800px;

  /* width: 100vw; */
}

.left,
.right {
  flex: 1;
  padding-left: 10px;
  padding-right: 65px;
}

.sidebar {
  width: 100px;
}

.icon {
  width: 100%;
}

a {
  border: solid 1.5px #d65b54;
  color: #d65b54;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  padding: 7px 30px 7px 30px;
}
